# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp

# Logs
*.log

# Node
node_modules/
dist/
build/

# Helm/Kubernetes
*.tgz
values-*.yaml
